.modalDialog .divActualizaciones {width: 50%;height: 60%;position: relative;top: -10%;margin: 10% auto;padding: 15px 30px 50px 30px;border-radius: 10px;background: #fff;background: -moz-linear-gradient(#fff, #eee);background: -webkit-linear-gradient(#fff, #eee);background: -o-linear-gradient(#fff, #eee);aspect-ratio: 16/10;overflow: hidden;}
.modalDialog .divActualizaciones .buttonmodalActualizaciones {padding: 2px 10px;color: #666;background: transparent;border: 1px solid #bbb;line-height: 24px; font-size: 12px;cursor: pointer;bottom: 3%;right: 2%;position: absolute;}
.modalDialog .divActualizaciones .buttonmodalActualizaciones:hover { background: #00d9ff; }
.modalDialog .divActualizaciones .checkboxActualizaciones { vertical-align:middle; }
.modalDialog .divActualizaciones .spanActualizaciones { vertical-align:middle; }
.modalDialog .divActualizaciones .labelActualizaciones { vertical-align:middle;bottom: 3%;left: 3%;position: absolute;}
.modalDialog .divActualizaciones .anterior {background: transparent;color: #000000;line-height: 48px;position: absolute;left: -0px;text-align: center;top: 45%;width: 24px;height: 48px;text-decoration: none;font-weight: bold;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;cursor: pointer;border: 0.5px solid;border-width: 1px 1px 1px 0;border-color: #bbb}
.modalDialog .divActualizaciones .anterior:hover { background: #00d9ff; }
.modalDialog .divActualizaciones .siguiente {background: transparent;color: #000000;line-height: 48px;position: absolute;right: -0px;text-align: center;top: 45%;width: 24px;height: 48px;text-decoration: none;font-weight: bold;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;cursor: pointer;border: 0.5px solid;border-width: 1px 0 1px 1px;border-color: #bbb}
.modalDialog .divActualizaciones .siguiente:hover { background: #00d9ff; }
.modalDialog .divContenido { min-width: 100%;max-width: 100%;min-height: 99%;max-height: 99%;overflow: hidden; }



/* Mauro Molina
   Para el modal de actualizaciones */
.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}
@font-face {
  font-family: somatic;
  src: url(../css/Somatic-Rounded.otf);
}
div.zzInicializar h1{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 28px!important;
  font-weight: 500;
  line-height: 39.6px;
  color: #333;
}
div.zzInicializar h2{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 24px!important;
  font-weight: 700;
  line-height: 33px;
  color: #333;
}
div.zzInicializar h3{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 20px!important;
  color: #333;
}
div.zzInicializar h4{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 16px!important;
  color: #333;
}
div.zzInicializar h5{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 12px!important;
  color: #333;
}
div.zzInicializar h6{
  font-family: Somatic,Helvetica,Arial,sans-serif;
  font-size: 8px!important;
  color: #333;
}

div.zzCentradoVertical{
    display: flex;
    align-items: center;
    justify-content: center;
}